table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.columns_text {
  font-weight: normal;
  color: #8e8e8e;
}

.not_found_data_table {
  position: absolute;
  top: 50%;
  left: 50%;
}
.border_none {
  border: none;
}

